@import url(./bootstrap.min.css);

h1 {
    color: blue;
    text-align: center;
    background-color: silver;
    height: 150px;
    padding-top: 45px;
}


p{
    text-align: center;
}

.Fearow{

    display: inline-block;

}

.Raichu {

    display: inline-block;
    padding-left: 90px;
    text-align: center;
    
}